.project-item {
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 25px;
  margin-bottom: 40px;
  box-shadow: 5px 10px 15px #e6e9ec;
}

.project-image {
  width: 230px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.project-name {
  font-weight: 500;
  font-size: 18px;
  margin-left: 20px;
  padding-bottom: 18px;
}
